/* Define the Roboto font family using local files */
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-Regular.woff2") format("woff2"),
    url("fonts/Roboto/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Bold.woff2") format("woff2"),
    url("/fonts/Roboto/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Italic.woff2") format("woff2"),
    url("/fonts/Roboto/Roboto-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Regular.woff2") format("woff2"),
    url("/fonts/Roboto/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

/* You can add more font weights/styles as needed */
